@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
    /*=====Light Mode=====*/
    --primary-color: #1e3a5f; /* Azul escuro */
    --secondary-color: #4a76a8; /* Azul mais claro */
    --text-blog-primary: #fff;
    --text-blog-secondary: #f2f2f2;
    --text-primary-color: #333333;
    --text-secondary-color: #64707d;
    --text-experience-color: #a4a4a4;
    --bg-primary-color: #fff;
    --bg-secondary-color: #f2f2f2;
    --other-color: #ccc;
    --navbar-bg: #f2f2f2;
    --footer-bg: #1e3a5f; /* Azul escuro */
    --footer-button-color: #fff;
    --rotate-color: #000;
    --marker-color: #fff;
    --button-bg: #f2f2f2;
    --button-text: #000;
}
  
[data-theme="dark"]{
    /*=====Dark Mode=====*/
    --primary-color: #1e3a5f; /* Azul escuro */
    --secondary-color: #4a76a8; /* Azul mais claro */
    --text-primary-color: #fff;
    --text-secondary-color: #64707d;
    --bg-primary-color: #000;
    --bg-secondary-color: #111;
    --other-color: #232323;
    --navbar-bg: #1e3a5f; /* Azul escuro */
    --rotate-color: #fff;
    --marker-color: #1e3a5f; /* Azul escuro */
    --button-bg: #1e3a5f; /* Azul escuro */
    --button-text: #fff;
}

/*=================Geral=================*/
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}
  
.text-primary{
    color: var(--primary-color);
    font-weight: 600;
}
  
.text-secondary{
    font-weight: 800;
}
  
.underline{
    display: inline-block;
    width: 50px;
    height: 1px;
    margin: 0 10px 0;
    background: var(--text-primary-color);
}
  
.underline-light{
    background-color: var(--text-primary-color);
}
  
.bg-primary, .underline-primary{
    background-color: var(--primary-color);
}
  
.bg-secondary, .underline-secondary{
    background-color: var(--secondary-color);
}
  
/*Título Texto*/
.head-text{
    text-align: center;
    margin: 30px 0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    font-weight: 600;
}
  
/*Botões*/
.btn{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(currentColor 0 0) var(--p, 100%) 0,
      linear-gradient(currentColor 0 0) 0 var(--d, 0),
      linear-gradient(currentColor 0 0) var(--d, 0) 100%,
      linear-gradient(currentColor 0 0) 100% var(--p, 100%);
    background-size: var(--d, 0) 3px, 3px var(--d, 0);
    background-repeat: no-repeat;
    background-color: var(--button-bg);
    transition: 0.5s, background-position 0s 0.5s;
}
  
.btn:hover{
    --d: 100%;
    --p: 0%;
}
  
.btn:hover span{
    transition: all 0.4s cubic-bezier(0, 0, 1, 0);
}
  
.btn:hover span{
    transform: translateX(5px);
}

/*Dark Mode Botão*/
.theme-switch-wrapper{
    display: flex;
    align-items: center;
}
  
.theme-switch{
    display: inline-block;
    height: 26px;
    position: relative;
    width: 42px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
  
.theme-switch input{
    display: none;
}
  
.slider{
    background-color: var(--other-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s;
    cursor: pointer;
}
  
.slider:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
    transition: 0.4s;
    background-color: #fff;
}
  
input:checked + .slider{
    background-color: var(--primary-color);
}
  
input:checked + .slider:before{
    transform: translateX(17px);
}
  
.slider.round{
    border-radius: 25px;
}
  
.slider.round:before{
    border-radius: 50%;
}
  
.link-style{
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}
  
.link-style:hover {
    color: var(--primary-color);
}
  
.badges {
    width: 160px;
    padding-bottom: 0.5rem;
}  

html{
    scroll-behavior: smooth;
}
  
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Scrollbar no Firefox*/
*{
    scrollbar-width: thin;
    scrollbar-color: var(--footer-bg) var(--secondary-color);
}
  
/*SCrollbar no Chrome, Edge, e Safari*/
*::-webkit-scrollbar{
    width: 12px;
}
  
*::-webkit-scrollbar-track{
    background: var(--footer-bg);
}
  
*::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
    border-radius: 20px;
}
  
body{
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: "Proxima", sans-serif;
    line-height: 1.3;
}
  
@font-face{
    font-family: "Proxima";
    font-style: normal;
    font-weight: normal;
    src: local("Proxima"),
      url("./fonts/ProximaNova-Regular.otf") format("truetype");
    font-display: swap;
}
  
img{
    width: 100%;
    height: 100%;
}
  
p{
    margin: 10px 0;
    font-weight: 300;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    color: var(--text-primary-color);
}
  
h1, h2, h3, h4{
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 



/*=============================Navbar=======================*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    background: var(--navbar-bg);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    z-index: 200;
    height: 70px;
    font-family: 'Poppins';
}
  
.navbar ul{
    display: flex;
}
  
.navbar ul li a{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}

.active-link {
    color: var(--secondary-color);
  }

.navbar ul li a .nav-icon{
    margin-right: 0.4rem;
}
  
.navbar ul li a:hover{
    color: var(--primary-color);
}

.nav__logo{
  color: var(--text-primary-color);
  font-weight:500;
  font-size: 1rem;
}

.nav__logo:hover{
  color: var(--text-secondary-color);
  cursor: pointer;
}
  
/*Hamburger Menu*/
.hamburger{
    display: none;
}
  
.nav-menu{
    display: flex;
}
  
.bar{
    display: block;
    width: 27px;
    height: 3px;
    margin: 5px auto;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-primary-color);
}  

@media (max-width: 768px) and (max-width: 701px){
    .navbar{
        justify-content: space-between;
    }
    
    .logo{
        order: 1;
    }
    
    #menu{
        order: 3;
    }
    
    .theme-switch-wrapper{
        order: 2;
    }
    
    .navbar ul li a:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
    
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        width: 70%;
        height: 100%;
        text-align: right;
        transition: 0.3s;
        background-color: var(--bg-secondary-color);
    }
    

    .nav-menu li:first-child{
        margin-top: 4rem;
    }
    
    .nav-menu.active{
        right: 0;
    }
    
    .nav-items{
        width: 100%;
        border-bottom: 1px solid var(--other-color);
    }
    
    .nav-link{
        display: inline-block;
        width: 100%;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    body{
        overflow-x: hidden;
    }
    
    #hero {
        margin-top: 2rem;
    }
    
    #hero .content{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .content-text{
        margin-bottom: 3rem;
    }
    
    .content h2{
        font-size: 2.4rem;
    }
    
    .content p{
        max-width: 300px;
    }
    
    .content .content-image{
        margin-top: 1rem;
    }
}




/*=======================Hero======================*/
#hero{
    height: 100vh;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    background: var(--bg-primary-color);
}
  
#hero .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 40px;
    margin-bottom: 2rem;
    height: 100%;
    position: relative;
    margin-top: 4rem;
}
  
.content h1{
    font-size: 1.1rem;
}
  
.content h2{
    max-width: 800px;
    font-size: 2.8rem;
}
  
.content p{
    margin: 0.9rem 0 0rem;
    font-weight: 500;
}
  
.content .btn{
    background-color: transparent;
} 
  
/*Imagem*/
.content .content-image img{
    width: 650px;
}

/*=============================Atendimentos=========================*/
#atendimentos {
    min-height: 100vh;
    background: var(--bg-secondary-color);
    padding: 1rem;
}

#atendimentos a {
    text-decoration: underline;
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    height: 100%;
}

.bio p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    max-width: 1000px;
}

.atendimentos-tipos-container {
    display: flex;
    justify-content: center; 
    margin-top: 5rem;
}

.atendimentos-tipos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; /* Aumenta o espaçamento entre os itens */
    max-width: 1000px; /* Aumenta a largura máxima */
    width: 100%; 
}

.tipo-atendimento {
    background: var(--primary-color);
    color: var(--text-blog-primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    height: 200px;
    width: 100%; /* Ajusta a largura para preencher a coluna */
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    padding: 1rem; /* Adiciona padding para espaçamento interno */
}

.tipo-atendimento i {
    font-size: 2rem;
    margin-bottom: 1rem; /* Reduz a margem inferior */
    color: var(--highlight-color); /* Adiciona cor ao ícone */
}

.tipo-atendimento:hover {
    transform: scale(1.05); /* Suaviza o efeito de zoom */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

/* Títulos dos tipos de atendimento */
.tipo-atendimento h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

/* Descrições dos tipos de atendimento */
.tipo-atendimento p {
    font-size: 1rem;
    margin: 0;
}


/*=============================Eventos========================*/
#eventos{
    background: var(--bg-primary-color);
    min-height: 100vh;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.skills .container{
    max-width: 1100px;
    min-height: 35vh;
}
  
.skills .skills-header{
    text-align: center;
    margin: 1rem 0;
}
  
.skills-header p{
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5rem;
    padding-bottom: 2rem;
}

/*======================Colaboradores=========================*/
#colaboradores{
    min-height: 100vh;
    background: var(--bg-secondary-color);
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.works .container{
    max-width: 1100px;
    min-height: 70vh;
}
  
.works .studies-header{
    text-align: center;
    margin: 1rem 0;
}
  
.works-header p{
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5rem;
    padding-bottom: 2rem;
}


/*======================Direitos========================*/
#direitos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--bg-primary-color);
    min-height: 100vh;
}

/* Cabeçalho da seção */
.works-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Parágrafo inicial */
.bio.container {
    text-align: left;
    margin-bottom: 1rem;
}

/* Wrapper da lista de direitos */
.rights-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lista de direitos */
.rights-list {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 1.5rem;
    list-style: none;
    max-width: 800px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 1.5rem; /* Espaçamento entre os itens */
    margin: 0 auto; /* Centraliza a lista */
}

/* Itens da lista de direitos */
.rights-list li {
    display: flex;
    align-items: center; /* Alinhar os itens verticalmente */
    background: var(--bg-primary-color); /* Cor de fundo do item */
    border-radius: 8px;
    padding: 1rem;
    width: calc(100% - 0.75rem); /* Metade da largura da lista, menos o espaçamento entre os itens */
}

/* Ícones dos direitos */
.rights-list li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--text-primary-color); /* Cor do ícone */
}

/* Títulos dos direitos */
.right-text h3 {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary-color);
}

/* Descrições dos direitos */
.right-text p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-primary-color);
    flex: 1; /* Ocupa o restante do espaço disponível */
}

/* Remove a margem inferior do último item */
.rights-list li:last-child {
    margin-bottom: 0;
}



/*===========Projetos==========*/
#projetos{
    min-height: 100vh;
    background: var(--bg-secondary-color);
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}



/*==========================Como doar===========================*/
#contact {
    display: flex;
    flex-direction: column;
    background: var(--bg-primary-color);
    min-height: 50vh;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

/* Cabeçalho da seção de Contato */
.contact-header {
    text-align: center;
    margin-bottom: 2rem; /* Espaço abaixo do cabeçalho */
}

/* Wrapper para centralizar o conteúdo */
.donate-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Conteúdo da doação */
.donate-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima */
    padding: 0 20px;
    box-sizing: border-box;
}

/* Imagem de doação */
.donate-image {
    flex: 1 1 10%; /* 20% do espaço */
    margin-right: 2rem;
    background-color: #fff; /* Fundo branco */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 1rem; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.donate-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Texto e ícones de doação */
.donate-details {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.donate-text {
    text-align: justify;
}

.donate-text p{
    font-size: 1.1rem;
    margin-bottom: 0rem;
}

/* Ícones de contato */
.donate-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

/* Estilização dos ícones de contato */
.contact-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
}

.contact-icon i {
    font-size: 1.6rem; /* Aumenta o tamanho do ícone */
    margin-right: 0.5rem;
}

.contact-icon:hover {
    transform: scale(1.1);
}

/*=======================Rodapé=======================*/
footer{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
    background-color: var(--footer-bg);
    color: #fff;
    font-family: calibri;
	font-weight: lighter;
}

.iconsfooter a{
    font-size: 1.7rem;
    margin: 5px 5px;
    padding: 10px 0px;
    width: 40px;
    height: 40px;
    color: var(--footer-button-color);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 700px){
    .icons a,
    .icons .icon {
      margin: 10px;
    }
  
    .theme-switch-wrapper{
      display: block;
      padding: 1rem;
      width: 100%;
    } 

    #hero{
      height: 130vh;
    }
  
    #hero .content{
      justify-content: space-around;
    }
  
    .content p{
      margin: 1rem 0;
    }

    .qualification__tabs{
        justify-content: center;
    }

    .qualification__button{
        margin: 0 1rem;
    }

    .timeline-container:before {
        left: 8px;
        width: 2px;
      }
    
    .timeline-block{
         width: 100%;
         margin-bottom: 30px;
    }

    .timeline-block-right{
         float: none;
    }
    
    .timeline-block-left{
         float: none;
         direction: ltr;
    }
     
    .timeline-block-left .timeline-content{
       text-align:left;
       order: 2;
    }
     
    .timeline-block-left .marker{
       order: 1;
    }

    .project{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  
    .form-container{
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
  
    .form-text{
      height: 200px;
    }
  
    #skills{
      padding: 1rem;
    }
}
  
@media (max-width: 600px){
    .project{
      display: grid;
      grid-template-columns: 1fr;
    }

    .content-image{
        order: 1;
        justify-self: center;
    }
}
  
@media (max-width: 400px){
    #hero {
      height: 100%;
    }
  
    .content h1 {
      font-size: 0.8rem;
    }
  
    .content h2 {
      font-size: 1.3rem;
    }
  }

 /*================Slider===============*/ 
  .sliderimg {
    position: relative;
    width: 50%;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

#titulo-cadastro {
    margin-top: 100px;
}
#formulario-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
    width: 20%;
}

input{
    border-radius: 5px;
    padding: 10px;
}

input, textarea{
    margin-bottom: 20px;
}


